.sideFilter {
  max-height: calc(100% - 110px);
  position: absolute;
  overflow-y: scroll;
  margin-top: 35px;
  box-shadow: 0px 0px 20px rgba(33, 35, 48, 0.2);

  @media (max-width: 768px) {
    width: calc(100% - 28px);
  }
  .content {
    width: 300px;
    box-sizing: border-box;
    padding: 30px 24px;
    background: url('/assets/images/marketplace/panel-filter.png'),
      linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 768px) {
      width: 100%;
    }

    .head {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .titleFilter {
        display: flex;
        align-items: center;

        .txt {
          text-transform: uppercase;
        }
      }
      .close {
        display: flex;
        align-items: center;
        img {
          margin-right: 5px;
        }
      }

      .clear {
        cursor: pointer;
        margin-top: 1px;

        &::after {
          content: '';
          width: 0;
          height: 1px;
          display: block;
          background: var(--neutral-0);
          transition: 300ms;
        }
      }
    }

    .allFilter {
      margin-top: 32px;
      height: 648px;
      overflow-y: scroll;
      @media (max-width: 1024px) {
        height: 400px;
      }
      .allFilterItem {
        margin-bottom: 26px;
      }
      .border {
        border-bottom: 1px solid #03081b;
        width: 100%;
      }
    }
  }
}
