.sideFilter {
  max-height: calc(100% - 110px);
  position: fixed;
  overflow-y: scroll;
  margin-top: 16px;
  box-shadow: 0px 0px 20px rgba(33, 35, 48, 0.2);

  .content {
    width: 256px;
    // height: 740px;
    background: var(--primary-300);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 16px;

    .head {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .titleFilter {
        display: flex;
        align-items: center;

        .txt {
          margin-left: 4px;
        }
      }

      .clear {
        cursor: pointer;
        margin-top: 1px;

        &::after {
          content: '';
          width: 0;
          height: 1px;
          display: block;
          background: var(--accent-500);
          transition: 300ms;
        }

        &:hover::after {
          width: 67px;
        }
      }
    }

    .allFilter {
      margin-top: 32px;
      height: 648px;
      overflow-y: scroll;
    }
  }
}
