.init {
  margin-top: 16px;
  @media (max-width: 768px) {
    text-align: center;
  }
  .btn {
    width: 560px;
    text-transform: uppercase;
    @media (max-width: 768px) {
      width: 163px;
      text-transform: none;
    }
  }
}

.modalInit {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      margin-top: -16px;
    }

    .form {
      margin-top: 8px;
      @media (max-width: 480px) {
        width: 100%;
      }
    }

    .input {
      margin-top: 16px;
      width: 368px;
      @media (max-width: 480px) {
        width: 100%;
      }
    }

    :global {
      .eye-password {
        top: 24px;
      }
    }

    .inputError {
      border: 1px solid var(--warning);
    }

    .btnConfirm {
      margin-top: 24px;
      width: 368px;
      @media (max-width: 480px) {
        width: 100%;
      }
    }
  }
}
