.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 48px auto;

  .main {
    margin: 24px 0 0;
    display: flex;
    flex-direction: column;
    width: 400px;

    .loginEmail {
      position: relative;
      height: 48px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 8px;
      border: 1px solid var(--accent-500);
      margin-bottom: 16px;
      -moz-transition: height 0.6s ease;
      -webkit-transition: height 0.6s ease;
      -o-transition: height 0.6s ease;
      transition: height 0.6s ease;
      padding-top: 10px;
      overflow: hidden;

      &:hover {
        border: 1px solid var(--accent-600);
      }

      .title {
        display: flex;
        align-items: center;
        padding-bottom: 12px;
        cursor: pointer;
        .icon {
          margin-right: 10px;
        }
      }
    }

    .showCursor {
      cursor: pointer;
    }

    .formEmail {
      height: 298px;
      -moz-transition: height 0.6s ease;
      -webkit-transition: height 0.6s ease;
      -o-transition: height 0.6s ease;
      transition: height 0.6s ease;
    }

    .form {
      .input {
        width: 368px;
      }
      :global {
        .eye-password {
          top: 24px;
        }
      }

      .inputPassword {
        margin-top: 16px;
      }

      .inputError {
        border: 1px solid var(--warning);
      }

      .txtError {
        position: absolute;
        bottom: 80px;
        width: 100%;
        text-align: center;
      }

      .extra {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 4px;

        .checkbox {
          margin-left: 16px;

          .check {
            :global {
              .checkbox {
                margin-right: 2px;
              }
              .rc-checkbox {
                margin-top: 3px;
                .rc-checkbox-inner {
                  width: 13px;
                  height: 13px;
                  border-radius: 0;
                  background-color: var(--neutral-0);
                  border: 1px solid transparent;
                }

                &.rc-checkbox-checked {
                  .rc-checkbox-inner {
                    background: var(--neutral-0);
                    border: 1px solid transparent;
                  }

                  & + img {
                    left: 35%;
                  }
                }
              }
            }
          }
        }
      }

      .btnLogin {
        width: 368px;
        position: absolute;
        bottom: 24px;
      }

      .btnLoginHide {
        display: none;
      }
    }

    .termOfUse {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;

      .txt {
        margin-top: 2px;
        &::after {
          content: '';
          width: 0;
          height: 2px;
          display: block;
          background: var(--accent-500);
          transition: 300ms;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}
