.listCharacter {
  display: flex;
  max-width: 1232px;
  width: 100%;
  height: auto;
  margin: 0px auto;
  margin-top: 48px;
  @media (min-width: 1024px) and(max-width: 1200px) {
    padding: 0px 15px;
  }
  @media (max-width: 1024px) {
    width: calc(100% - 60px);
    flex-direction: row;
    display: flex;
  }
  @media (max-width: 768px) {
    flex-direction: column;
  }
  .recentlyListed {
    max-width: 608px;
    width: 100%;
    height: auto;
    @media (max-width: 1024px) {
      width: calc((100% - 30px) / 2);
      margin-right: 30px;
    }
    @media (max-width: 768px) {
      width: 100%;
      margin-right: 0;
      max-width: unset;
      .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .headerSelectOption {
          border: none;
          height: 38px;
        }
      }
    }
    .titleRecentlyListed {
      height: 28px;
    }
    .headerSelectOption {
      border: 1px solid var(--primary-100);
      box-sizing: border-box;
      border-radius: 8px;
      margin-top: 16px;
      height: 67px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 16px;
    }
    .linkToMarketplace {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
      height: 22px;

      span {
        margin-top: 2px;

        &::after {
          content: '';
          width: 0;
          height: 2px;
          display: block;
          background: var(--accent-500);
          transition: 300ms;
        }

        &:hover::after {
          width: 100%;
        }
      }

      > img {
        margin-left: 8px;
      }
    }
  }
  .recentlySold {
    max-width: 608px;
    width: 100%;
    height: auto;
    margin-left: 16px;
    @media (max-width: 1024px) {
      width: calc((100% - 30px) / 2);
    }
    @media (max-width: 768px) {
      max-width: unset;
      width: 100%;
      margin-left: 0;
      .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .headerSelectOption {
          border: none;
          height: 38px;
        }
      }
    }
    .titleRecentlySold {
      height: 28px;
    }
    .headerSelectOption {
      border: 1px solid var(--primary-100);
      box-sizing: border-box;
      border-radius: 8px;
      margin-top: 16px;
      height: 67px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 16px;
    }
  }
}
.pagination {
  width: fit-content;
  margin: 0px auto;
  margin-top: 24px;
}
.itemListed {
  max-width: 608px;
  width: 100%;
  height: 64px;
  border: 1px solid var(--primary-100);
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding: 8px;
  transition: all 0.3s;
  @media (max-width: 1024px) {
    // flex-direction: column;
    height: auto;
    align-items: flex-start;
    padding: 8px 16px;
  }
  @media (max-width: 768px) {
    max-width: unset;
  }
  &:hover {
    border: 1px solid var(--accent-500);
    cursor: pointer;
  }
  .infoCharacter {
    display: flex;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
    .characterCode {
      display: flex;
      align-items: center;
      .avatar {
        max-width: 48px;
        max-height: 51px;
        @media (max-width: 1024px) {
          margin-bottom: 10px;
        }
      }
      .code {
        background: var(--accent-500);
        border-radius: 4px;
        width: fit-content;
        padding: 0px 4px;
        margin-left: 8px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .characterPower {
      margin-left: 33px;
      display: flex;
      align-items: center;
      @media (max-width: 1024px) {
        margin-left: 0;
      }
      .detailPower {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 26px;
        align-items: center;

        .detail {
          margin-top: 4px;
          height: 20px;
        }
      }
    }
  }
  .infoPriceCharacter {
    .detail {
      display: flex;
      align-items: center;
      .number {
        height: 28px;
      }
      .icon {
        margin: 0px 7px 0px 3px;
        width: 26px;
        height: 26px;
        > img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      // .price {
      // }
    }
    .time {
      float: right;
    }
  }
}

.itemSold {
  max-width: 608px;
  width: 100%;
  height: 64px;
  border: 1px solid var(--primary-100);
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
  padding: 8px;
  @media (max-width: 1024px) {
    height: auto;
    padding: 8px 16px;
    align-items: flex-start;
  }
  @media (max-width: 768px) {
    max-width: unset;
  }
  &:hover {
    border: 1px solid var(--accent-500);
    cursor: pointer;
  }
  .infoCharacter {
    display: flex;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
    .characterCode {
      display: flex;
      align-items: center;
      padding-left: 8px;
      @media (max-width: 1024px) {
        padding-left: 0;
      }
      .avatar {
        max-width: 48px;
        max-height: 51px;
      }
      .code {
        background: var(--accent-500);
        border-radius: 4px;
        width: fit-content;
        padding: 0px 4px;
        margin-left: 8px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .buyer {
      margin-left: 32px;
      @media (max-width: 1024px) {
        margin-left: 0;
      }
      @media (max-width: 1024px) {
        margin-bottom: 12px;
      }
      .title {
        height: 20px;
      }
      .name {
        height: 22px;
      }
      .code {
        height: 20px;
      }
    }
    .seller {
      margin-left: 46px;
      @media (max-width: 1024px) {
        margin-left: 0;
      }
      .title {
        height: 20px;
      }
      .name {
        height: 22px;
      }
      .code {
        height: 20px;
      }
    }
  }
  .infoPriceCharacter {
    .detail {
      display: flex;
      align-items: center;
      // .number {
      // }
      .icon {
        margin: 0px 7px 0px 3px;
        width: 26px;
        height: 26px;
        > img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      // .price {
      // }
    }
    .time {
      float: right;
    }
  }
}
