.sell {
  .btn {
    width: 61px;
    margin-left: 16px;
  }
}

.modalSell {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      margin-top: -16px;
    }

    .form {
      position: relative;

      .expired {
        position: absolute;
        right: 0;
        top: 68px;

        .selectTime {
          width: 134px;
        }
      }
    }

    .wrapperInput {
      position: relative;

      img {
        position: absolute;
        right: 16px;
        top: 32px;
      }
    }

    .input {
      margin-top: 24px;
      width: 368px;
      padding-right: 48px;

      &:focus::placeholder {
        color: transparent;
      }
    }

    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: var(--primary-100);
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: var(--primary-100);
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: var(--primary-100);
    }

    .inputError {
      border: 1px solid var(--warning);
    }

    .btnSell {
      width: 369px;
      margin-top: 48px;
    }

    .btnSellHasError {
      margin-top: 24px;
    }

    .btnSellHasErrorExpired {
      margin-top: 48px;
    }

    .btnSellHasErrorExpired2 {
      margin-top: 68px;
    }
  }
}

.dropdownSelectTime {
  z-index: 1111;
}
