.navLink {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: var(--primary-100);
  position: relative;
  height: 64px;
  display: inline-block;
  padding-left: 32px;

  span {
    &.hidden {
      color: transparent;
    }

    &::after {
      color: var(--primary-100);
      content: attr(data-content);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }
  }

  &:global {
    &:not(.disabled, .active):hover {
      span {
        &::after {
          color: var(--neutral-0);
          transition: all 0.3s;
        }
      }
    }

    &.active {
      span {
        &::after {
          transition: all 0.3s;
          color: var(--accent-500);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
