.navLink {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: var(--neutral-0);
  position: relative;
  display: inline-block;
  padding: 0 100px;
  transform: skewX(-28.64789deg);
  -webkit-transform: skewX(-28.64789deg);
  height: 109px;
  span {
    transform: skewX(28.64789deg);
    width: 100%;
    height: 108px;
    display: inline-block;
    font-family: 'Barlow-Regular';
  }
  &::after {
    position: absolute;
    left: 0;
    content: '';
    background: rgba(255, 255, 255, 0.5);
    display: block;
    height: 100%;
    width: 1.02px;
    top: -3.5px;
  }
  span {
    &::after {
      color: var(--neutral-0);
      content: attr(data-content);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }
  }

  &:global {
    &:not(.disabled, .active):hover {
      span {
        &::after {
          color: var(--neutral-0);
          transition: all 0.3s;
        }
      }
    }

    &.active {
      span {
        &::after {
          transition: all 0.3s;
          color: var(--blue);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &::before {
          position: absolute;
          left: 50%;
          bottom: -40%;
          transform: translateX(-63%);
          content: url('/assets/images/marketplace/menu-active.png');
          background-position: bottom;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
