.navLink {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: var(--neutral-0);
  position: relative;
  display: inline-block;
  height: calc(1.5em + 40px);
  width: 100%;
  @media (min-width: 1024px) {
    padding: 0 100px;
    height: 109px;
  }
  span {
    width: 100%;
    display: inline-block;
    transition: 0.3s ease-in-out;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    font-family: var(--font-bold);
    @media (min-width: 1024px) {
      font-family: 'Barlow-Regular';
      height: 108px;
      font-size: 16px;
      line-height: 1.5em;
    }
  }
  span {
    &::after {
      color: var(--neutral-0);
      content: attr(data-content);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }
  }

  &:global {
    &:not(.disabled, .active):hover {
      span {
        color: var(--neutral-0);
        transform: scale(1.1);
        &::after {
          color: var(--blue);
          transition: all 0.3s;
        }
      }
    }
    &.active {
      span {
        &::after {
          transition: all 0.3s;
          color: var(--blue);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &::before {
          @media (min-width: 1024px) {
            position: absolute;
            left: 50%;
            bottom: -40%;
            transform: translateX(-50%);
            content: url('/assets/images/marketplace/menu-active.png');
            background-position: bottom;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
