@import '../../../global/colors.less';
.total {
  width: 100%;
  height: auto;
  .optionsDate {
    width: fit-content;
    height: fit-content;
    margin: 0px auto;
    display: flex;
    padding: 4px;
    border: 1px solid @accent-500;
    box-sizing: border-box;
    border-radius: 8px;
    .button {
      padding: 0px 16px;
      font-family: Nunito Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 22px;
      height: 30px;
      &:hover {
        color: @neutral-0;
      }
    }
  }
  .totalWrapper {
    max-width: 1232px;
    height: auto;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    .totalSale {
      width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      // .icon{
      // }
      .title {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        color: @neutral-0;
        margin-top: 8px;
      }
      .content {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 32px;
        color: @accent-500;
        width: fit-content;
      }
    }
    .totalVolume {
      width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      // .icon{
      // }
      .title {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        color: @neutral-0;
        margin-top: 8px;
      }
      .content {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 32px;
        color: @accent-500;
        width: fit-content;
        display: flex;
        align-items: center;
        .totalNumber {
          font-family: Nunito Sans;
          font-style: normal;
          font-weight: 800;
          font-size: 24px;
          line-height: 32px;
          color: @accent-500;
        }
        .iconPrice {
          margin: 0px 7px 0px 3px;
        }
        .priceNumber {
          font-family: Nunito Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          color: @neutral-0;
        }
      }
    }
    .totalSold {
      width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      // .icon{
      // }
      .title {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        color: @neutral-0;
        margin-top: 8px;
      }
      .content {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 32px;
        color: @accent-500;
        width: fit-content;
      }
    }
  }
}
