@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gyz4yi');
  src:  url('fonts/icomoon.eot?gyz4yi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gyz4yi') format('truetype'),
    url('fonts/icomoon.woff?gyz4yi') format('woff'),
    url('fonts/icomoon.svg?gyz4yi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ci_close-big:before {
  content: "\e906";
}
.icon-dashicons_menu-alt:before {
  content: "\e907";
}
.icon-bxl_telegram:before {
  content: "\e900";
}
.icon-Discord-Icon:before {
  content: "\e901";
}
.icon-Twitter-Logo:before {
  content: "\e902";
}
.icon-YouTube-Icon .path1:before {
  content: "\e903";
  color: rgb(26, 215, 253);
}
.icon-YouTube-Icon .path2:before {
  content: "\e904";
  margin-left: -1.388671875em;
  color: rgb(12, 16, 61);
}
.icon-Facebook-Icon:before {
  content: "\e905";
}
