:root {
  --primary-500: #1d1d25;
  --primary-400: #282833;
  --primary-300: #3b3b4a;
  --primary-200: #636475;
  --primary-100: #868790;

  --neutral-0: #ffffff;

  --accent-600: #e68703;
  --accent-500: #e9992a;

  --warning: #e74c3c;
  --success: #049b13;
  --info: #0b68f4;
}

@primary-500: #1d1d25;
@primary-400: #282833;
@primary-300: #3b3b4a;
@primary-200: #636475;
@primary-100: #868790;

@neutral-0: #ffffff;

@accent-600: #e68703;
@accent-500: #e9992a;

@warning: #e74c3c;
@success: #049b13;
@info: #0b68f4;

// class

.primary-500 {
  color: @primary-500;
}
.primary-400 {
  color: @primary-400;
}
.primary-300 {
  color: @primary-300;
}
.primary-200 {
  color: @primary-200;
}
.primary-100 {
  color: @primary-100;
}
.neutral-0 {
  color: @neutral-0;
}
.accent-600 {
  color: @accent-600;
}
.accent-500 {
  color: @accent-500;
}
.warning {
  color: @warning;
}
.success {
  color: @success;
}
.info {
  color: @info;
}
