.wrapper-input {
  position: relative;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 3px;

  @media (max-width: 528px) {
    width: 100%;
  }

  .input-label {
    margin-bottom: 8px;
    cursor: default;
  }

  ::-webkit-input-placeholder {
    /* Edge */
    color: var(--primary-100);
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--primary-100);
  }

  ::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Barlow-Regular';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .input {
    height: 48px;
    display: inline-block;
    background: #000000;
    border: 1px solid transparent;
    padding: 0 16px 0px 55px;
    &:extend(.body-16-semi-bold);
    color: var(--neutral-0);
    transition: all 0.3s;
    outline: none;
    width: 100%;

    &:focus,
    &:hover {
      outline: none;
    }

    // input disabled
    &-disabled {
      background: var(--primary-300);
      cursor: not-allowed;
      color: var(--primary-100);

      &:hover {
        border: 1px solid transparent;
      }
    }

    // input number
    &-number {
      /* Chrome, Safari, Edge, Opera */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      &[type='number'] {
        -moz-appearance: textfield;
      }
    }

    // input password
    &-password {
      padding-right: 48px;
    }
  }

  .mask-password,
  .icon-suffix {
    position: absolute;
    left: 14px;
    top: 14px;
    img {
      padding-right: 13px;
    }
    &::after {
      content: url('/assets/images/marketplace/ic-cross.png');
      position: absolute;
      top: -8px;
    }
  }

  .mask-password {
    cursor: pointer;
  }

  .eye-password {
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 8px;
  }
}
