.font {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0em;
  font-family: 'NunitoSans-Bold';
  font-weight: 700;
}
.checkbox-container {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 3px;
}
.rcselect {
  background: #000000;
  box-sizing: border-box;
  position: relative;
  height: 48px;
  color: var(--neutral-0);
  cursor: pointer;
  &.rc-select-open {
    & + img {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  .rc-select-selector {
    cursor: pointer;
    height: 40px !important;
    border: 1px solid transparent;
    .rc-select-selection-placeholder {
      position: absolute;
      top: 7px;
      left: 12px;
      color: var(--primary-100);
      &:extend(.font);
    }
    .rc-select-selection-search {
      input {
        max-width: 148px;
      }
    }
    input {
      border: none;
      outline: none;
      &:extend(.font);
      cursor: pointer;
    }
    .rc-select-selection-item {
      position: absolute;
      top: 12px;
      right: 42px;
      color: var(--neutral-0);
      text-transform: capitalize;
      font-family: 'Barlow-Regular';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      @media (max-width: 480px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 14px;
        img {
          margin-right: 5px;
          path {
            fill: var(--accent-500);
          }
        }
      }

      &:extend(.font);
      display: flex;
      align-items: center;
      img {
        margin-right: 6px;
      }
      img > * {
        fill: var(--accent-500);
        margin-right: 6px;
      }
    }
  }
}
.rc-select-dropdown {
  &.rc-select-dropdown-hidden {
    display: none;
  }
  background: #000000;
  border: 1px solid var(--primary-100);
  color: var(--primary-100);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 3px 0;
  position: relative;
  box-sizing: border-box;
  text-transform: capitalize;
  .rc-select-item {
    transition: 0.3s ease-in-out;
    &:extend(.font);
    cursor: pointer;
    padding: 6px 12px;
    overflow-y: hidden;
    opacity: 0.8;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    font-family: 'Barlow-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    &:hover {
      opacity: 1;
      color: var(--neutral-0);
    }
    &.disable {
      pointer-events: none;
    }
    .rc-select-item-option-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      // justify-content: center;
      img {
        margin-right: 10px;
      }
    }
  }

  .rc-select-item-option-selected {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .rc-select-item-option-state-icon {
      display: none;
    }
  }
}
.placeholder {
  position: absolute;
  left: 12px;
  top: 13px;
}
.placeholderActive {
  position: absolute;
  left: 60px;
  top: 13px;
}
.checkbox-container {
  cursor: pointer;
  position: relative;
  & > img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s ease-in-out;
    pointer-events: none;
  }
}
.iconLabel {
  position: absolute;
  top: 12px;
  left: 14px;
  margin-right: 10px;
  img {
    padding-right: 13px;
  }
  &::after {
    content: url('/assets/images/marketplace/ic-cross.png');
    position: absolute;
    top: -8px;
  }
}
