.email {
  margin-top: 24px;

  .wrapperInput {
    display: flex;
    align-items: center;
    margin-top: 4px;

    .inputEmail {
      width: 368px;
    }

    .btn {
      width: 176px;
      margin-left: 16px;
    }
  }
}

.modalEmail {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      margin-top: -16px;
    }

    .description {
      margin-top: 16px;
      margin-bottom: 20px;
      text-align: center;
    }

    .input {
      width: 368px;
    }

    .inputError {
      border: 1px solid var(--warning);
    }

    .btnConfirm {
      margin-top: 24px;
      width: 368px;
    }
  }
}
