.email {
  margin-top: 24px;
  @media (max-width: 528px) {
    position: relative;
  }
  .wrapperInput {
    display: flex;
    align-items: center;
    margin-top: 4px;
    @media (max-width: 528px) {
      display: block;
      .inputEmail {
        width: 100% !important;
      }
      .wrapper-input {
        width: 100% !important;
      }
    }

    .inputEmail {
      width: 368px;
    }

    .btn {
      width: 176px;
      margin-left: 16px;
      @media (max-width: 528px) {
        background: transparent !important;
        color: #e9992a;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        text-decoration: underline;
        position: absolute;
        top: -4px;
        right: 0;
        width: unset;
      }
    }

    .btnResend {
      width: 176px;
      margin-left: 16px;
      @media (max-width: 528px) {
        margin-top: 20px;
        margin-left: 0;
        float: right;
      }
    }
  }
}

.modalEmail {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      margin-top: -16px;
    }

    .form {
      margin-top: 8px;
    }

    .input {
      margin-top: 16px;
      width: 368px;
    }

    :global {
      .eye-password {
        top: 24px;
      }
    }

    .inputError {
      border: 1px solid var(--warning);
    }

    .btnConfirm {
      margin-top: 24px;
      width: 368px;
    }
  }
}
