.info {
  margin-left: 515px;
  margin-top: 128px;
  width: 100%;
  max-width: 505px;
  padding-bottom: 48px;

  .head {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 32px;
    .prices {
      display: flex;
      align-items: center;

      .bnb {
        display: flex;
        align-items: center;
        margin-right: 4px;

        .balance {
          margin-right: 4px;
        }
      }
    }
  }
}
