::-webkit-scrollbar {
  display: none;
}

.rc-dialog-header {
  border-radius: 12px;
  border-bottom: none;
  margin-bottom: 12px;
}
.kingdom-modal {
  &.kingdom-modal-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rc-dialog {
    padding: 0;
    @media (max-width: 480px) {
      width: calc(100% - 32px) !important;
      padding: 0px 10px;
    }
  }
  .rc-dialog-close {
    right: 15px;
    top: 15px;
  }
}
