.rarities {
  margin-top: 16px;
  text-align: center;
  .title {
    margin-bottom: 16px;
    display: block;
  }
  .checkboxs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    .option {
      width: calc(50%);
      margin-bottom: 10px;
    }
  }
}
