.header-navbar {
  background: var(--primary-500);
  position: fixed;
  z-index: 99;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  border-bottom: 1px solid var(--primary-300);
  @media (max-width: 480px) {
    padding: 0 16px;
  }
  .left-side {
    display: flex;

    .container-header {
      height: 64px;
      @media (max-width: 1024px) {
        display: none;
      }
    }
  }

  @media (min-width: 992px) {
    .container-header {
      .links-login {
        height: 100%;
        .container-links-login {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .links {
            height: 100%;
            display: flex;
            align-items: center;
          }
        }
      }
    }

    .login {
      display: flex;
      align-items: center;
      .btn-login {
        width: 74px;
      }
      .account-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 1.5rem;
        position: relative;
        .total {
          width: fit-content;
          border-radius: 6px;
          padding: 0px 0.75rem;
          display: flex;
          align-items: center;
          margin-bottom: 4px;
          span {
            line-height: 22px;
          }
          svg {
            height: 0.75rem;
            width: 0.75rem;
            transform: translateY(-1px);
            margin-left: 0.25em;
          }
        }
        .address {
          display: flex;
          align-items: center;
          & > * {
            margin-right: 0.5rem;
            &:last-child {
              margin-right: 0;
            }
            cursor: pointer;
          }
          svg {
            font-size: 16px;
            width: 16px;
            height: 16px;
            transition: 0.3s ease-in-out;
            &:hover {
              &::before {
                color: var(--yellow-300) !important;
              }
            }
          }
        }
        .hr {
          width: 100%;
          height: 1px;
          background: var(--Darker);
          padding: 0 !important;
          margin-bottom: 13px;
        }
        .wallet-box {
          position: absolute;
          top: 55px;
          background: var(--primary-300);
          padding: 6px 12px 16px;
          position: absolute;
          width: 291px;
          border-radius: 12px;
          z-index: 999;
          visibility: hidden;
          line-height: 22px;
          &::before {
            content: '';
            border: 12px solid var(--primary-300);
            border-color: transparent transparent var(--primary-300) transparent;
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
          }
          &::after {
            content: '';
            width: 100%;
            height: 7px;
            opacity: 0;
            bottom: 100%;
            content: '';
            display: block;
            position: absolute;
          }
          & > div {
            padding: 6px;
            img {
              margin-right: 0.25rem;
            }
            span {
              font-weight: 600;
            }
            aside {
              display: flex;
              align-items: center;
            }
            .green-dot {
              display: block;
              background: #33cc83;
              border-radius: 50%;
              width: 8px;
              height: 8px;
              margin-right: 0.25rem;
            }
          }
          .btn {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          opacity: 0;
          -webkit-transition: opacity 0.3s ease-in, visibility 0.5s;
          transition: opacity 0.3s ease-in, visibility 0.5s;
        }
        &:hover {
          .wallet-box {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
    .open-bar {
      display: none;
    }
  }
  .login {
    @media (max-width: 1024px) {
      display: none;
    }
  }
  .breadCrumb {
    display: none;

    @media (max-width: 1024px) {
      display: block;
    }
    span {
      display: block;
      width: 26px;
      height: 3px;
      border-radius: 5px;
      margin-bottom: 5px;
      background-color: #ffffff;
      @media (max-width: 480px) {
        width: 18px;
      }
    }
    &.active {
      span {
        &:nth-of-type(2) {
          display: none;
        }
        &:nth-of-type(1) {
          transform: rotate(45deg);
          margin-bottom: -3px;
        }
        &:nth-of-type(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }
  .menuMobile {
    position: fixed;
    top: 65px;
    right: 0;
    background: #282833;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: 0.5s;
    &.active {
      transform: translateX(0);
    }
    .links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 30px;
    }
    .loginMobile {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 48px;
      .btn {
        width: 163px;
        height: 40px;
      }
    }
  }
}

.wallet-type {
  img {
    width: 16px;
    height: 16px;
  }
}
