.header_navbar {
  background: rgba(238, 238, 238, 0.1);
  backdrop-filter: blur(30px);
  position: fixed;
  width: 100vw;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(30px);
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-family: 'Barlow-SemiBold';
  .container {
    display: flex;
    padding: 0 0;
    @media (min-width: 1024px) {
      padding: 0 32px;
    }
    max-width: 1920px;
    width: 100%;
    align-items: center;
    position: relative;
    .logoPart {
      display: flex;
      width: 100%;
      height: 53px;
      .logo {
        width: 53px;
        object-fit: contain;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        @media (min-width: 1024px) {
          width: initial;
          border: none;
          position: absolute;
          left: 50px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .title {
        flex: auto;
        height: 100%;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        padding: 0 0 0 16px;
        display: flex;
        align-items: center;
        h1 {
          font-weight: 600;
          font-size: 15px;
          line-height: 18px;
          text-align: center;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #ffffff;
          font-family: var(--font-base);
        }
      }
      .toggleMenu {
        background: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 53px;
        box-sizing: border-box;
      }
      @media (min-width: 1024px) {
        display: initial;
        width: initial;
        height: initial;
        .title,
        .toggleMenu {
          display: none;
        }
      }
    }
    main {
      position: absolute;
      width: 100%;
      top: 54px;
      transition: 0.3s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
      background: rgba(238, 238, 238, 0.1);
      backdrop-filter: blur(30px);
      height: calc(100vh - 54px);
      padding-top: 28px;
      left: 100%;
      &.isShowNav {
        left: 0%;
      }
      @media (min-width: 1024px) {
        flex-direction: row;
        background: initial;
        backdrop-filter: initial;
        padding-top: initial;
        position: initial;
        height: initial;
        left: initial;
        flex: auto;
        justify-content: space-between;
        margin: auto;
        max-width: 1420px;
      }
    }
  }
  .links {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    width: 100%;
    margin-top: 4em;
    @media (min-width: 1024px) {
      width: initial;
      margin-top: initial;
      flex-direction: row;
    }
  }
  .social {
    display: flex;
    margin: auto auto 100px;
    display: flex;
    justify-content: space-between;
    width: 200px;
    @media (min-width: 1024px) {
      display: none;
    }
  }
  .connect {
    transform: skewX(-28.64789deg);
    background: linear-gradient(180deg, #1ad7fd 0%, #036c7a 100%);
    width: 100%;
    height: 108px;
    display: inline-block;
    font-family: 'Barlow-Regular';
    padding: 0 70px;
    border: none;
    display: none;
    @media (min-width: 1024px) {
      display: block;
    }
    .content {
      transform: skewX(28.64789deg);
      display: flex;
      align-items: center;
      font-size: 16px;
      font-family: 'Barlow-Regular';
      color: white;
      font-weight: 700;
      span {
        margin-right: 16px;
      }
    }
  }
}

.conected {
  display: flex;
  align-items: center;
  height: 100%;
  .balance {
    display: flex;
    // padding-left: 53px;
    margin-right: 25px;
    position: relative;
    .coin {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .container {
    background-color: rgb(23, 56, 93);
    z-index: -1;
    padding: 0 45px 0 30px;
    height: 32px;
    color: white;
    clip-path: polygon(
      0% 0%,
      calc(100% - 5px) 0%,
      100% 7px,
      calc(100% - 9px) 100%,
      0 100%
    );
    .plus {
      position: absolute;
      right: 2px;
    }
    &::before {
      content: '';
      background: rgb(14, 31, 49);
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      display: block;
      clip-path: polygon(
        0% 0%,
        calc(100% - 5px) 0%,
        100% 7px,
        calc(100% - 9px) 100%,
        0 100%
      );
      transform: translate(-47%, -51%) scale(0.9);
      z-index: -1;
    }
  }
  .address {
    display: flex;
    align-items: center;
    position: relative;
    .headIcon {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      .centerIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
