.default {
  display: flex;
  flex-direction: row;
  align-items: center;
  :global {
    .checkbox {
      position: relative;
      width: 1em;
      height: 1em;
      margin-right: 6px;
      .rc-checkbox {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        .rc-checkbox-input {
          width: 100%;
          height: 100%;
        }
        .rc-checkbox-inner {
          position: absolute;
          top: 0;
          left: 0;
          background-color: var(--primary-400);
          border: 1px solid var(--primary-200);
          border-radius: 4px;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          outline-color: var(--accent-500);
          &::after {
            border-color: transparent;
          }
        }
        &:hover {
          .rc-checkbox-inner {
            border-color: var(--accent-500);
          }
        }
        &.rc-checkbox-checked {
          .rc-checkbox-inner {
            background: var(--accent-500);
            border-color: var(--accent-500);
          }
          & + svg {
            opacity: 1;
          }
        }
      }
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s ease-in-out;
        font-size: 0.8em;
        opacity: 0;
      }
    }
  }
  // &:hover {
  //   :global {
  //     .checkbox {
  //       z-index: 999;
  //       .rc-checkbox {
  //         .rc-checkbox-inner {
  //           // border-color: @accent-500;
  //         }
  //       }
  //     }
  //   }
  // }
}
