.marketplace {
  max-width: 1440px;
  margin: 0 auto;

  .tabs {
    padding-bottom: 8px;
    border-bottom: 1px solid var(--primary-300);
    z-index: 1;
    background-color: var(--primary-400);
    position: fixed;
    width: 1440px;
  }
}
