.marketplace {
  max-width: 1440px;
  margin: 0 auto;

  .tabs {
    padding: 8px 16px;
    border-bottom: 1px solid var(--primary-300);
    z-index: 2;
    background-color: var(--primary-400);
    position: fixed;
    width: 1440px;
  }

  .loading {
    padding: 108px 0;
  }

  .heroContainer {
    max-width: 1136px;
    margin: 108px auto 16px;
  }

  .heroContainerFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .heroCard {
    flex: 0 24%;
    width: 272px;
    height: 312px;
    margin-bottom: 16px;
    cursor: pointer;
  }

  .paginatorContainer {
    flex-direction: row;
    display: flex;
    align-self: center;
  }
}
