.filter {
  padding: 20px 0 49px 16px;
  display: flex;
  width: 100%;
  @media (max-width: 768px) {
    padding-right: 16px;
    padding-top: 60px;
  }
  .filterMobile {
    display: block;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .activeFilter {
    display: block;
  }
  .active {
  }
  .content {
    width: 100%;
    padding-left: 330px;
    @media (max-width: 768px) {
      padding-left: 0;
      // opacity: 1;
    }
    &.isActive {
      height: 100%;
      overflow: hidden;
      opacity: 0;
      pointer-events: none;
    }
  }
}
