.countDown {
  position: relative;
  width: 100%;
  .bg {
    width: 100%;
    height: auto;
  }
  .content {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%);
    width: 92%;
    h3 {
      text-align: center;
      color: white;
      margin-bottom: 0;
      text-transform: uppercase;
      color: #ffffff;
      font-family: var(--font-base);
    }
    img {
      margin-top: -9%;
    }
  }
  .time {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%);
    width: 92%;
    color: white;
    header {
      font-family: var(--font-header);
      font-weight: bold;
      text-align: center;
      width: 3.5em;
    }
    footer {
      font-family: var(--font-base);
      font-weight: normal;
      text-align: center;
    }
    span {
      margin: 0 7px;
      font-family: var(--font-header);
      font-weight: bold;
    }
  }
  .left {
    position: absolute;
    top: 45%;
    left: 47%;
  }
  .right {
    position: absolute;
    top: 45%;
    right: 47%;
  }
}
